[submodule "vim-latex"]
	path = vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim-markdown"]
	path = vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim-instant-markdown"]
	path = vim-instant-markdown
	url = git://github.com/suan/vim-instant-markdown.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim-rake"]
	path = vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
