[user]
  name = Christof Sirk
  email = christof.sirk@gmail.com
[color]
  status = auto
  branch = auto
  ui = auto
[core]
  editor = vim
  attributesfile = ~/.gitattributes
[alias]
  ci = commit
  st = status
  co = checkout
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  br = branch
  type = cat-file -t
  dump = cat-file -p
  permission-reset = "!git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply"
[diff "image"]
  command = ~/bin/git-imgdiff
[credential]
  helper = cache --timeout=36000000
[push]
  default = simple
